@import "./Responsive.scss";

.categories {
  padding: 0 83px;
  display: flex;
  flex-direction: column;

  @include sm {
    padding: 50px 20px;
  }

  h2 {
    font-size: 28px;
    color: #004369;
  }

  .categories_list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 5%;

    .category {
      position: relative;
      display: flex;
      width: 350px;
      height: 200px;
      cursor: pointer;

      img {
        width: 110%;
        height: 120%;
        border-radius: 10px;
      }
    }
  }
}
