@import "./Responsive.scss";

.property-container {
  min-height: 100vh;

  .empty-property-list {
    padding: 40px;

    h2 {
      color: #004369;
      font-size: 2rem;
      margin-bottom: 2%;
    }

    p {
      margin: 10px 0;
      font-size: 1.1rem;
    }

    .property-btn {
      margin-top: 3%;
      background-color: transparent;
      color: #333;
      border: 1px solid #333;

      &:hover {
        box-shadow: 0 5px 5px 0 gray;
        background-color: transparent;
      }
    }
  }
}
